@model IEnumerable<App.Models.Projet>

<style>
    .grid-container {
        display: grid;
        grid-gap: 50px 100px;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
</style>

<div class="grid-container">
    @foreach (var item in Model)
    {
        <div class="panel">
            <div class="panel-heading">
                <span class="label label-primary">PRIMARY</span>
                <h6>@item.Nom</h6>
            </div>
            <div class="panel-body">
                <p>@item.Description</p>
            </div>
            <div class="panel-footer">
                <h5>@item.Progress</h5>
            </div>
            <div class="panel-footer">
                <h5>test</h5>
            </div>
            <div class="panel-footer">
                <h5>@item.Date</h5>
                <div class="align-self-center ml-auto btn-group">
                    <button type="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle btn btn-link btn-sm">
                        <i class="fa fa-gear"></i>
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <button type="button" tabindex="0" class="dropdown-item">
                            <i class="fa fa-fw fa-folder-open mr-2"></i>View
                        </button>
                        <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-ticket mr-2"></i>Add Task</button> <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-paperclip mr-2"></i>Add Files</button><div tabindex="-1" class="dropdown-divider"></div> <button type="button" tabindex="0" class="dropdown-item"><i class="fa fa-fw fa-trash mr-2"></i>Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
