@model IEnumerable<App.Models.Projet>

@{
    ViewData["Title"] = "Index";
}


<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container-fluid">
            <!-- OVERVIEW -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des projets</h3>
                    <p>
                        <a asp-action="Create">Nouveau projet</a>
                    </p>
                    <div role="group" id="btnGroup" class="mr-auto mr-md-2 btn-group">
                        <a class="align-self-center btn btn-secondary">
                            <i class="fa-fw fa fa-bars"></i>
                        </a>
                        <a class="align-self-center btn btn-secondary active" aria-current="page">
                            <i class="fa-fw fa fa-th-large"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="partial">
                        @Html.Partial("_GridProjects.cshtml", Model)
                    </div>
                    @*<div>
                            @Html.Partial("_TabProjects.cshtml", Model)

                        </div>*@
                </div>
            </div>
            <!-- END OVERVIEW -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>


@section Scripts{
    <script>
        $("#btnGroup".on("click", function () {

            var selection = $("#btnGroup").val();
            var link = '@Url.Action("ShowGridOrTab", "Project") ';
            link = link+ "?value =" + data
            $.ajax({
                url: '@Url.Action("ShowGridOrTab", "Project") ' + " + " ? value =" + data
                type: 'POST',
                    success: function (data) {
                        console.log(data);
                    //$("#shoppingcatalog").html(data);
                }
            });
        });

    </script>
}

